

//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
//        Color variables
//~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
$dark-blue:#030A1D;
$light-blue:#28C0F1;
$dark-purple:#6948CB;
$light-purple:#A48CFF;
$white:#FFFFFF;
