// .skewed {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     background: url('../../assets/img/background-home.jpg') center/cover;
//     z-index: 0;
//     transform: skewY(8deg);
//     transform-origin: top right;
// }

.banner{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    // background:linear-gradient(to left, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0)), url('../../assets/img/background-home.jpg') center/cover;
    background:url('../../assets/img/background-home.jpg') center/cover;
    width: 100vw;
    height: 100vh;
    color: $white;
    position: relative;

    h1{
        font-size: 70px;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.714);
    }

    .banner-content{
        position: absolute;
        bottom: 40%;
        right: 15%;

        .btn-home{
            margin: 20px 0;
        }
    }
}